@tailwind base;
@tailwind components;
@tailwind utilities;



html {
    font-family: 'Mulish', sans-serif !important;
    letter-spacing: 0.03rem;
    outline-style: none;
    background-color: #FCFCFC;
}
body {
  font-family: 'Mulish', sans-serif !important;
}

:focus-visible {
    outline: none !important;
  }

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.anime {
  @apply motion-safe:transition duration-[0.3s] ease-in-out ;
}

.vd-wrapper {
  background-color: #4F4F4F;
  color: #fff;
  border-radius: 6px;
  padding-left: 1rem;
  width: 320px !important;
  max-width: 320px !important;
}


a.nuxt-link-exact-active {
  @apply text-blue-600;
}  

#sidebar a.nuxt-link-exact-active {
  @apply text-white bg-blue-500;
}  
